---
import Tag from "@icons/Tag.svg";
import PackageDetail from "@components/Home/PackageDetail.astro";
import PackageButton from "@components/Home/PackageButton.astro";
import PackageBadge from "@components/Home/PackageBadge.astro";

interface Detail {
  title: string;
  description: string[];
}

interface PackageProps {
  title: string;
  description: string;
  details: Detail[];
  icon: boolean;
  price: number;
  kanji: string;
}

const { title, description, details, icon = false, price, kanji }: PackageProps = Astro.props;

const isMiddle = title === "hajime" ? "lg:-order-1" : "";
const badgeText = title === "takumi" ? "Completo" : title === "hajime" ? "Básico" : "Popular";
---

<li class:list={["flex", isMiddle]}>
  <article
    class="bg-lighter relative mx-auto flex h-full w-full flex-col rounded-4xl px-4 py-6 font-bold shadow-lg"
  >
    <PackageBadge {badgeText} />
    {icon && <Tag width={80} height={80} class="absolute -top-8 left-0" />}
    <span
      class="outlined-text text-accent absolute top-2 right-0 rotate-20 text-5xl tracking-tight md:-right-2 xl:-right-8"
      >{kanji}</span
    >
    <h3 class="text-accent text-6xl capitalize md:text-7xl">{title}</h3>

    <ol id="package-list" class="text-text my-10 text-3xl">
      {
        details?.map(({ title, description }) => (
          <PackageDetail title={title} description={description} />
        ))
      }
    </ol>
    <span
      class="text-accent bg-neutral relative mx-auto block w-fit rounded-4xl px-5 py-3 text-4xl md:text-5xl"
      ><small class="outlined-text absolute -top-4 -left-4 -rotate-12 text-xl md:text-2xl"
        >Precio Total</small
      >${price}</span
    >
    <PackageButton text="Adquirir" class="mx-auto" />
  </article>
</li>
