---
import Package from "@components/Home/Package.astro";
import CustomPackage from "@components/Home/CustomPackage.astro";

const PACKAGES = [
  {
    title: "takumi",
    details: [
      {
        title: "identidad visual",
        description: [
          "Logo",
          "Paleta de Colores",
          "Tipografías",
          "Brandboard (1 página de presentación)",
        ],
      },
      {
        title: "diseño web",
        description: [
          "Diseño responsivo",
          "Página única con secciones",
          "Formulario de contacto básico",
          "SEO básico para mejorar visibilidad",
        ],
      },
    ],
    price: "710.000",
    kanji: "たくみ",
  },
  {
    title: "hajime",
    details: [
      {
        title: "identidad visual",
        description: [
          "Logotipo + 2 variaciones",
          "Paleta de colores",
          "Tipografías",
          "Iconos de redes sociales + 3 publicaciones",
          "Brandboard (2-5 páginas de presentación)",
        ],
      },
      {
        title: "diseño web",
        description: [
          "Diseño responsivo y personalizado",
          "Múltiples páginas y secciones",
          "Formularios avanzados (log-in, sign-in, etc)",
          "SEO avanzado para mayor alcance",
          "Panel de control básicos para autogestión de contenido",
        ],
      },
    ],
    price: "380.000",
    kanji: "始め",
  },
  {
    title: "naka",
    details: [
      {
        title: "identidad visual",
        description: [
          "Logotipo + 2 variaciones",
          "Paleta de colores",
          "Tipografías",
          "Iconos de redes sociales + 3 publicaciones",
          "Mockups",
          "Manual de marca",
        ],
      },
      {
        title: "diseño web",
        description: [
          "Diseño UI/UX personalizado",
          "Sistema de autenticación de usuarios",
          "Almacenamiento y gestión de contenido",
          "Backend con API propia",
          "Panel avanzado de administración",
          "Mayor seguridad y protección contra ataques",
        ],
      },
    ],
    price: "550.000",
    kanji: "なか",
  },
] as const;
---

<section
  id="packages"
  class="lazy-section mx-auto my-30 flex max-w-20/21 flex-col gap-10 xl:max-w-300"
>
  <h2 class="text-main text-center text-4xl font-bold md:text-5xl">
    Que tu <span class="block md:inline">marca fluya!</span>
  </h2>
  <ul class="grid gap-4 md:grid-cols-2 lg:grid-cols-3">
    {
      PACKAGES.map((p, i) => {
        const { title, details, price, kanji } = p;
        return (
          <Package title={title} details={details} price={price} kanji={kanji} icon={i === 0} />
        );
      })
    }
    <CustomPackage />
  </ul>
</section>

<script>
  const init = () => {
    const $packages = document.getElementById("packages");
    const handlePackageClick = ({ target }: { target: EventTarget | null }) => {
      const $targetedPackageDetail = target.closest("li #package-list li");
      if (!$targetedPackageDetail) return;

      // apply styles and get the elements, only if the click was on a package detail item
      const $packageDetailContainer = $targetedPackageDetail?.querySelector("ol");
      const isOpen = $packageDetailContainer.style.maxHeight !== "";
      const $packageDetailChevron = $targetedPackageDetail?.querySelector("h4 svg");
      const newHeight = !isOpen ? `${$packageDetailContainer.scrollHeight}px` : null;

      $packageDetailChevron.classList.toggle("rotate-90");
      $packageDetailContainer.style.maxHeight = newHeight;
    };

    // Event delegation for package details toggle
    $packages.addEventListener("click", handlePackageClick);

    document.addEventListener(
      "astro:before-swap",
      () => {
        $packages.removeEventListener("click", handlePackageClick);
      },
      { once: true },
    );
  };

  document.addEventListener("astro:page-load", init);
</script>
