---
import HeaderIcon from "../icons/Header.astro";
import BurgerIcon from "../icons/Burguer.astro";

const navItems = [
  {
    href: "/#packages",
    text: "Precios",
  },
  {
    href: "/#description",
    text: "Sobre nosotros",
  },
  {
    href: "/contact",
    text: "Contacto",
  },
];
---

<header id="header" class="group md:relative">
  <div class="flex items-center justify-between overflow-hidden p-4">
    <div class="">
      <a href="/">
        <HeaderIcon />
      </a>
    </div>

    <label
      for="menu"
      class="relative z-20 transition-transform duration-300 group-has-checked:-rotate-45 active:scale-105 md:hidden"
    >
      <BurgerIcon />
      <input type="checkbox" id="menu" class="hidden" />
    </label>
    <nav
      class="group-has-checked:animate-openNav group-has-checked:bg-neutral absolute inset-0 z-10 grid min-h-screen -translate-y-full place-content-center ease-linear group-has-checked:translate-y-0 group-has-checked:duration-300 md:relative md:min-h-auto md:translate-0"
    >
      <ul
        id="nav-list"
        class="font-text text-main relative flex flex-col gap-4 text-center text-2xl font-bold md:flex-row"
      >
        {
          navItems.map(({ href, text }) => (
            <li class="transition-transform active:scale-105">
              <a class="p-2" href={href}>
                {text}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
  <div
    id="menu-backdrop"
    class={`
      absolute bg-secondary/40 backdrop-blur-xs rounded-xl
      translate-x-(--left) translate-y-(--top)
      inset-0
      w-(--width) h-(--height)
      transition-all duration-500
      ease-in-out opacity-0
    `}
  >
  </div>
</header>

<script>
  import type { transform } from "astro:schema";

  const listItem = document.querySelectorAll("header li");
  const menuBackDrop = document.querySelector("#menu-backdrop") as HTMLElement;

  const updateMenuBackDrop = (item) => {
    const { left, top, width, height } = item.getBoundingClientRect();

    // Object assign to update multiple styles at once
    Object.assign(menuBackDrop.style, {
      transform: `translate(${left}px, ${top}px)`,
      width: `${width}px`,
      height: `${height}px`,
      opacity: "1",
      visibility: "visible",
    });
  };

  listItem.forEach((item) => {
    item.addEventListener("mouseenter", () => updateMenuBackDrop(item));

    item.addEventListener("mouseleave", () => {
      Object.assign(menuBackDrop.style, {
        opacity: "0",
        visibility: "hidden",
      });
    });
  });
</script>

<script>
  document.querySelectorAll("nav a").forEach((link) => {
    link.addEventListener("click", () => {
      document.querySelector("#menu").checked = false;
    });
  });
</script>
