---
import Tag from "@icons/Tag.svg";

interface Detail {
  title?: string;
  description?: string;
}

interface Props {
  title: string;
  description?: string;
  details?: Detail[];
  price: string;
  icon?: boolean;
  kanji?: string;
  custom?: boolean;
}
const {
  title,
  description,
  details,
  icon = false,
  price,
  kanji,
  custom = false,
} = Astro.props;
---

<article class="package">
  {
    custom && (
      <div class="custom-badge">
        <span>Personalizado</span>
      </div>
    )
  }
  <div>
    {icon && <Tag width={80} height={80} />}
    <span class="outlined-text">{kanji}</span>
  </div>
  <h3>{title}</h3>
  <ul>
    {
      details?.map(({ title, description }) => (
        <li>
          <details>
            <summary>{title}</summary>
            <div>
              <p>{description}</p>
            </div>
          </details>
        </li>
      ))
    }
  </ul>
  <span><small class="outlined-text">Precio Total</small>${price}</span>
  <button>Adquirir</button>
</article>

<style>
  .package {
    background: var(--color-lighter);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    display: grid;
    margin: 1rem;
    min-height: 400px;
    padding: 1.2rem 2rem;
    position: relative;

    div {
      svg,
      span {
        position: absolute;
      }
      svg {
        top: -2rem;
        left: 0;
      }

      & > div {
        background: var(--color-neutral);
      }
      span {
        top: -1rem;
        right: -1rem;
        font-size: 50px;
        font-weight: bolder;
        color: var(--color-accent);
        transform: rotate(25deg);
      }
    }

    h3 {
      color: var(--color-accent);
      font-size: clamp(64px, 10vw, 68px);
      margin-bottom: 1rem;
      text-transform: capitalize;
    }

    /* tener en cuenta truquito con el details y el summary */
    ul {
      text-transform: capitalize;
      margin-bottom: 2rem;
      font-weight: bold;
      font-size: clamp(1.4rem, 3vw, 1.6rem);
      color: var(--color-text);

      li {
        user-select: none;
        &:hover {
          cursor: pointer;
        }
      }
      li:not(:last-child) {
        margin-bottom: 1rem;
      }
    }

    & > span {
      background: var(--color-neutral);
      border-radius: 2rem;
      color: var(--color-accent);
      display: block;
      font-size: clamp(38px, 3vw, 46px);
      font-weight: bold;
      margin: 0 auto;
      padding: 0.8rem 1.3rem;
      position: relative;
      small {
        font-size: clamp(20px, 3vw, 24px);
        position: absolute;
        top: -1rem;
        left: -1rem;
        transform: rotate(-10deg);
      }
    }

    button {
      background: var(--color-accent);
      border-radius: 1rem;
      color: var(--color-neutral);
      display: block;
      font-size: clamp(22px, 3vw, 30px);
      font-weight: bold;
      margin: 0 auto;
      margin-top: 2rem;
      padding: 0.8rem 1.2rem;
      transition: scale 0.3s;
      &:hover {
        scale: 1.05;
        cursor: pointer;
      }
    }
  }

  @media (width >= 768px) {
    .package {
      max-width: 400px;
    }
  }
</style>
